html {
  height: 100%;
}
body {
  /* background-color: #e8d5c5 !important; */
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container-home-and-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.container-home-and-question i {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  font-size: 30px;
}
.artifacts {
  margin-top: 20px !important;
  padding: 14px 0 14px 0;
  background: #f6be8f;
  height: 80px;
  border-radius: 10px;
}
.artifacts .row {
  height: 100%;
}
.container-artifacts {
  height: 100%;
}
.mySlides-artifacts {
  width: 50px;
  height: 100%;
  border-radius: 10px;
  background-color: #a4efb9;
  /* margin: 2px; */
  position: relative;
}
.mySlides-artifacts::after {
  content: "";
  width: calc(var(--bs-gutter-x));
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: -50%;
}
.mySlides-artifacts img {
  height: 80%;
  width: 50%;
  object-fit: contain;
  margin: 10% 0 0 25%;
}
.container-artifacts .col-3 {
  height: 100%;
}
.container-decription-history {
  margin: 20px auto auto auto !important;
  background: #f6be8f;
  height: 245px;
  text-align: center;
  border-radius: 10px;
}
.container-decription-history p {
  margin-top: 25%;
  padding: 0;
}
.container-button-allow {
  margin: 10px auto auto auto !important;
  background-color: #77552f;
  border-radius: 10px;
  color: white;
}
.container-button-allow p {
  font-weight: 550;
  font-size: 25px;
  margin-bottom: 0;
  text-align: center;
}
.container-suggestions {
  margin: 10px auto auto auto !important;
  background: #f6be8f;
  height: 126px;
  text-align: center;
  border-radius: 10px;
}
.container-suggestions p {
  margin-bottom: 0;
  height: 30%;
  margin-top: 17%;
}
