.clock-goiy {
  position: absolute;
  bottom: -19px;
  z-index: 1;
  right: 20px;
}

.artifacts {
  background-color: #FFFFFF;
  height: 80px;
  border-radius: 0.8rem;
  position: relative;
  padding: 10px 10px;
}
.artifacts::before {
  content: "";
  background-color: #dfdfdf;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.mySlides-artifacts {
  width: 60px;
  height: 60px;
  /* height: 100%; */
  border-radius: 0.8rem;
  background-color: #E0E7FF;
  margin: 0 2rem;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 8px 1px rgba(231, 231, 231, 0.92);
  border: 1px #F1F2F6 solid;
}
.mySlides-artifacts .mySlides-artifacts--item, .mySlides-artifacts .icon-choice {
  --length: 100%;
  width: var(--length);
  height: var(--length);
  position: absolute;
  z-index: 1;
  background-image: url(/images/BaoVat.png?66eb0608dcab64c3513e439e5d70907a);
  background-repeat: no-repeat;
  top: 0px;
  left: 25%;
}
.mySlides-artifacts .icon-choice {
  background-image: url(/images/icon-choice.png?0d5cb5935189dcf14a8f55f067492bfd);
  top: -25%;
  left: 20%;
}
.mySlides-artifacts img {
  height: 80%;
  /* width: 50%; */
  -o-object-fit: contain;
     object-fit: contain;
  /* margin: 10% 0 0 25%; */
  position: absolute;
}

.container-decription-history {
  margin-top: 10px;
  /* margin: 20px auto auto auto !important; */
  background: #FFFFFF;
  height: 245px;
  text-align: center;
  border-radius: 10px;
}
.container-decription-history p {
  padding: 0;
}

.container-suggestions {
  margin: 10px auto auto auto !important;
  background: #FFFFFF;
  height: 126px;
  text-align: center;
  border-radius: 10px;
}
.container-suggestions p {
  margin-bottom: 0;
  height: 30%;
  margin-top: 17%;
}
