.control-camera .item-control-camera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 99vh;
}

.view-camera {
  background-color: black;
  min-height: 50vh;
}

.control-camera {
  background-color: black;
  display: none;
}
.control-camera .item-control-camera i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
