.main {
    overflow: hidden;
}

.main-body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-camera {
    background-color: black;
}

.control-camera {
    background-color: black;
    display: none;
}

.control-camera .item-control-camera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-camera .item-control-camera i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}