.control-camera .item-control-camera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 99vh;
  padding: 0;
  position: fixed;
  top: 0;
}

.view-camera {
  background-color: black;
}

.control-camera {
  background-color: black;
  display: none;
}
.control-camera .item-control-camera i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
